/*
|--------------------------------------------------------------------------
| Deltatre global styles
|--------------------------------------------------------------------------
*/
@import '../../fonts/roboto';

$body-color: #292929;
$bg-color: #292929;         // bg-color
$base-font-size: 10px;      // base font size for em
$color: #FFFFFF;            // base font color
$link-color: #FFFFFF;       // base link color
$headline-color: #606060;   // base headline font color
$lead-color: #dcdcdc;
$disabled-color: #606060;
$alt-line-color: #606060;
$menu-bgcolor: #1b1b1b;
$menu-bgcolor-hover: #262626;
$table-head-bgcolor: #303030;

$atmo-color: #a90715;
$atmo-color-alt1: #0b8b4b;
$atmo-color-alt2: #1B3D60;
$atmo-color-sec1: #d62d1c;
$atmo-color-sec2: #42040c;
$atmo-color-sec3: #780b0c;
$atmo-color-sec4: #c24f55;

$deltaRed: #e63312;
$deltaYellow: #f7b733;
$deltaBlue: #00a0de;
$deltaGreen: #76b82a;
$deltaGrey: #979797;
$deltaHover: #FFFFFF;
$deltaError: #e65612;

$bgcolor-overlays: #3c3c3c;

$color-primary-0: #D20514;
$color-primary-1: #F95662;
$color-primary-2: #F12938;
$color-primary-3: #AB000D;
$color-primary-4: #83000A;


$color-altprimary-0: #28419E;
$color-altprimary-1: #6679BF;
$color-altprimary-2: #4358A8;
$color-altprimary-3: #172D81;
$color-altprimary-4: #0B1F66;

$color-secondary-1-0: #D85E05;
$color-secondary-1-1: #FF9F58;
$color-secondary-1-2: #F7812A;
$color-secondary-1-3: #AF4A00;
$color-secondary-1-4: #863900;

$color-secondary-2-0: #038678;
$color-secondary-2-1: #39A59A;
$color-secondary-2-2: #1A9A8C;
$color-secondary-2-3: #006D61;
$color-secondary-2-4: #00534A;

$color-complement-0: #1CB204;
$color-complement-1: #5DD64A;
$color-complement-2: #3ACC23;
$color-complement-3: #149100;
$color-complement-4: #0F6F00;

$eventColor1: #D82D15;
$eventColor2: #F98221;
$eventColor3: #FFBC04;
$eventColor4: #63852A;
$eventColor5: #0F4132;
$eventColor6: #1b3365;
$eventColor7: #2E4B8F;
$eventColor8: #6E85BA;
$eventColor9: #584CA5;
$eventColor10: #2C1F7B;


$primary-color: $atmo-color !default;
$primary-color-light: $atmo-color-sec4 !default;
$primary-color-dark: $atmo-color-sec2 !default;
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("blue", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

$media-desktop: 'only screen and (min-width: 801px)';
$ratio-desktop: 1;
$media-tablet: 'only screen and (min-width: 501px) and (max-width: 800px)';
$ratio-tablet: 1.7;
$media-mobile: 'only screen and (max-width: 500px)';

$font-light: Light, Arial, Helvetica, sans-serif;
$font-regular: Regular, Arial, Helvetica, sans-serif;
$font-semibold: Semibold, Arial, Helvetica, sans-serif;
$font-bold: Bold, Arial, Helvetica, sans-serif;
$font-bolditalic: BoldItalic, Arial, Helvetica, sans-serif;
$min-width: 500px;
 
$not_available_opacity: 0.2;

.control {
  display: block;
  position: fixed;
  top: 10px;
  left: 400px;
  color: #ffff00;
  z-index: 199;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
  transition: opacity 1s;
  cursor: not-allowed;
}
.clickLock {
  display: none;
  position: fixed;
  top: 135px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}
.disabler {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
}
.disabler:before {
  content: '';
}
.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 125;
  width: 100%;
  min-height: 60px;
  background-color: $bg-color;
  border-bottom: 2px solid #d20515;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.wrap {
  width: 100%;
  padding: 80px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
}
.brand {
  float: left;
  padding: 6px 6px 0 6px;
}
.brand-text {
  font-family: "Bold";
  font-size: 24px;
  margin-top: -32px;
  margin-left: 210px;
  white-space: nowrap;
}
.main {
  width: 100%;
}
.headline {
  color: $headline-color;
  font-family: "Light";
  font-size: 14px;
}
.headlineBig {
  color: $headline-color;
  font-family: "Bold";
  font-size: 24px;
}
.content {
  display: inline-block;
  width: 100%;
  color: $color;
  font-family: "Regular";
  font-size: 16px;
  padding-bottom: 60px;
}
.wrapperSelectMenuDependend {
  display: flex;
  width: 100%;
}
.selectMenuDependend {
  width: 40%;
  min-width: 20%;
  padding-right: 15px;
}
.footer {
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //left: 0;
  padding: 1rem;
  text-align: center;
}
.footer-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.errorMsg {
  color: $deltaError;
}


/*
|--------------------------------------------------------------------------
| Nav
|--------------------------------------------------------------------------
*/
$prefix: "nav";
.#{$prefix}bar svg {
  padding-top: 7px;
  width: 50px;
  height: 50px;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  height: 55px;
  padding-right: 15px;
  text-align: right;
  font-size: 25px;
}
.navbar a {
  color: #ffffff;
}
.navProgressWrapper {
  min-height: 4px;
}
.navProgress {
  display: none;
  margin: 0;
}
.navItemWelcome {
  font-size: 16px;
  margin-top: 26px;
  padding-right: 20px;
}


/*
|--------------------------------------------------------------------------
| Hack <table> nur mit CSS :)
|--------------------------------------------------------------------------
*/
.collapsTable {
 // display: grid;
  display: table;
}
.tableTable {
  display: table;
  //width: 100px;
  border-collapse: collapse;
}
.tableRow {
  display: table-row;
}
.tableCell {
  display: table-cell;
}
.tableBasis {
  flex-basis: 1fr;
}
.tableColspan,
.tableColspan + .tableCell {
  border: 0;
}
.tableColspan > div {
  width: 1px;
}
.tableColspan > div > div {
  position: relative;
  width: 99px;
  overflow: hidden;
}


/*
|--------------------------------------------------------------------------
| Login
|--------------------------------------------------------------------------
*/
.wrap-login {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.loginTxt {
  text-justify: inter-word;
  text-align: justify;
  padding-bottom: 65px;
}
.loginBtn {
  padding-top: 20px;
  text-align: center;
}


/*
|--------------------------------------------------------------------------
| Misc
|--------------------------------------------------------------------------
*/
.captain {
  color: yellow;
}
.changed {
  color: red;
}
.added {
  color: forestgreen;
}
.updated {
  color: orange;
}
.removed {
  color: mediumpurple;
}
.substitute {
  color: #CCCCCC;
}
.bench {
  color: #777777;
}

.cursor-wait {
  cursor: wait !important;
}
