@font-face {
  font-family: "Regular";
  src: url("../fonts/roboto/Roboto-Regular.woff");
}

@font-face {
  font-family: "Light";
  src: url("../fonts/roboto/Roboto-Light.woff");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/roboto/Roboto-Medium.woff");
}

@font-face {
  font-family: "Semibold";
  src: url("../fonts/roboto/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/roboto/Roboto-Bold.woff");
}

@font-face {
  font-family: "BoldItalic";
  src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Italic";
  src: url("../fonts/roboto/Roboto-Italic.ttf");
}