<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue test</title>
    <link rel="stylesheet" href="/Content/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="vuetify.min.css">
    -->
</head>
<body>
    <div class="wrap" id="app">
        <div>
            <navigation></navigation>

        </div>
        <div>
            <formshow></formshow>
            @RenderBody()
        </div>
    </div>
    <script src="/Content/build.js"></script>
</body>
</html>
